<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>select例子</title>
    <link rel="stylesheet" href="base.css">
</head>
<body>

    <div id="app">

        <!--为el-select设置clearable属性，则可将选择器清空。需要注意的是，clearable属性仅适用于单选-->

        <template>
            <el-select v-model="value4" placeholder="请选择" clearable>
                <el-option v-for="item in options" :label="item.label" :value="item.value"></el-option>
            </el-select>
        </template>


        <!--为el-select设置multiple属性即可启用多选，此时v-model的值为当前选中值所组成的数组-->
        <template>
            <el-select v-model="value5" placeholder="请选择" multiple>
                <el-option v-for="item in options2" :label="item.label" :value="item.value"></el-option>
            </el-select>
        </template>


    </div>
</body>
<!--先引入 Vue-->
<script src="https://unpkg.com/vue/dist/vue.js"></script>
<!--引入组件库-->
<script src="https://unpkg.com/element-ui/lib/index.js"></script>
<script>

    //例子2
    var Main2 = {
        data :function(){
            return {
                options2:[{
                    value: '选项1',
                    label: '黄金糕'
                },{
                    value: '选项2',
                    label: '双皮奶'
                },{
                    value: '选项3',
                    label: '龙须面'
                },{
                    value: '选项4',
                    label: '北京烤鸭'
                }],
                value5: []
            }
        }
    }
    var Ctor2 = Vue.extend(Main2);
    new Ctor2().$mount('#app');


    //例子1
    var  Main = {
        data :function(){
            return{
                options: [{
                    value: '选项1',
                    label: '黄金糕'
                },{
                    value: '选项2',
                    label: '双皮奶'
                },{
                    value: '选项3',
                    label: '龙须面'
                },{
                    value: '选项4',
                    label: '北京烤鸭'
                }],
                value4: ''
            }
        }
    }

    var Ctor = Vue.extend(Main);
//    new Ctor().$mount('#app');
</script>
</html>