<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>switch开关</title>
    <link rel="stylesheet" href="https://unpkg.com/element-ui/lib/theme-default/index.css">
</head>
<body>
    <div id="app">
        <el-switch v-model="value1" on-text="开" off-text="关"></el-switch>

        <el-switch v-model="value2" on-color="purple" off-color="#dedede"></el-switch>
    </div>
</body>
<!--先引入 Vue-->
<script src="https://unpkg.com/vue/dist/vue.js"></script>
<!--引入组件库-->
<script src="https://unpkg.com/element-ui/lib/index.js"></script>
<script>
    var Main = {
        data :function(){
            return {
                value1: true,
                value2: false
            }
        }
    }
    var Ctor = Vue.extend(Main);
    new Ctor().$mount('#app');
</script>
</html>